// TEXT COLORS
$color-primary-light: hsl(0, 0%, 100%);
$color-primary-dark: hsl(209, 12%, 34%);
$color-primary-headings: hsl(209, 48%, 24%);
$color-footer-text: hsl(240, 2%, 79%);

// BACKGROUNDS
$color-menu-bg: hsla(237, 17%, 21%, 0.08);
$color-footer-bg: hsl(240, 10%, 16%);
$gradient-light-red: hsl(13, 100%, 72%);
$gradient-red: hsl(353, 100%, 62%);
$gradient-gray-blue: hsl(237, 17%, 21%);
$gradient-dark-blue: hsl(237, 23%, 32%);

// BUTTONS
$color-cta-btn: hsl(356, 100%, 66%);
$color-cta-btn-hover: hsl(355, 100%, 74%);
