@use '../utilities/colors' as *;
@use '../utilities/fonts' as *;
@use '../utilities/mixins' as *;

.menu-toggle {
  @include default-button;
  background-image: url('/images/icon-hamburger.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
  justify-self: end;
  transition: 220ms all ease-in-out;
  width: 2rem;
  aspect-ratio: 1;

  &:focus,
  &:hover,
  &:active {
    outline: 1px dashed $color-primary-light;
  }

  &:focus-visible {
    outline: 1px solid white;
    outline-offset: 1px;
  }

  &[aria-expanded='true'] {
    background-image: url('/images/icon-close.svg');
  }

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}
